.main__disply
  .comenter
    .comenter--username
      = message.user.name
    .comenter--date
      = message.created_at.strftime("%Y年%m月%d日　%H時%M分")
  .message
    - if message.content.present?
      %p.messages
        = message.content
    = image_tag message.image.url, class: 'messages__image' if message.image.present?